.wrapper {
    border-radius: var(--radius-m);
    border: 1px solid var(--color-mono-50);
    padding: calc(var(--space) * 2px);
    resize: none;
    box-sizing: border-box;
    outline: none;
    height: calc(var(--space) * 40px);
}

.wrapper:focus {
    border: 1px solid var(--color-mono-40);
}
