.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.loading_icon {
    width: calc(var(--space) * 20px);
    height: calc(var(--space) * 20px);
}
