.overlay {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: rgba(30, 30, 30, .6);
    position: fixed;
    top:0 ;
    left: 0;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}

.wrapper {
    display: flex;
    position: fixed;
    width: calc(var(--space) * 150px);
    box-shadow: var(--shadow-lv3);
    background: var(--color-mono-a);
    border-radius: var(--radius-l);
    padding: calc(var(--space) * 5px);
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}
